:root {
  --button-color1: tan;
  --button-color2: black;
  --navy: #0a0a23;
}

body {
  background-color: var(--navy);
}

#currentRoom, #stats, #controls1, #controls2, #text, #disclaimer {
  z-index: 1;
  position: relative;
}

#game {
  max-width: 700px;
  max-height: 810px;
  background-color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
  z-index: -1;
}

#currentRoom {
  color: tan;
  text-shadow: 1px 1px black;
  font-size: xx-large;
}

#stats {
}

#controls1 {
  width: 63px;
  height: 60px;
  border: 1px dashed black;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transform: rotate(45deg);
  left: 85%;
  top: -33px;
}

#controls2 {
  width: 63px;
  height: 60px;
  left: 85%;
}

button {
  cursor: pointer;
  color: white;
  background-color: var(--button-color2);
  border: 1px solid var(--button-color1);
  border-radius: 0% 50% 0% 50%;
  padding: 2px;
}

.north, .south {
  background-image: linear-gradient(-45deg, var(--button-color2), var(--button-color1));
}

.east, .west {
  transform: rotate(-90deg);
  background-image: linear-gradient(45deg, var(--button-color2), var(--button-color1));
}

img {
  max-width: 100%;
  max-height: 100%;
}

.picture {
  width: 100%;
  height: auto; 
  position: relative;
  top: -195px;
  z-index: 0;
}

#text {
  background-color: var(--navy);
  color: white;
  padding: 10px;
  top: -190px;
}

#disclaimer {
  background-image: linear-gradient(90deg, var(--navy), black);
  color: white;
}
